/* css styles */

.bg-page {
  background-image: url("files/firme-cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  padding: 2rem;
  color: white;
}
